@model MNPWebApplication.Models.TargetObject
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MNP.cshtml";
}

@if (ViewBag.CreateSuccess)
{
    <div class="notibar msgsuccess">
        <a class="close"></a>
        <p>Update thành công.</p>
    </div><!-- notification msgerror -->
}
@if (ViewBag.CreateFail)
{
    <div class="notibar msgerror">
        <a class="close"></a>
        <p>Lỗi.</p>
    </div><!-- notification msgerror -->
}
@using (Html.BeginForm("Edit", "Target", FormMethod.Post, new { @class = "stdform" }))
{
    <div class="stepContainer">
        <div id="wizard" class="wizard">
            <div id="wiz1step1" class="formwiz content">
                <h4>Cập nhật thông tin mục tiêu</h4>
                <p>
                    <label>Số điện thoại</label>
                    <span class="field"><input type="text" name="phone" id="phone" class="longinput" placeholder="" readonly value="@Model.MSISDN" /></span>
                </p>

                <p>
                    <label>Nhà mạng</label>
                    <span class="field"><input type="text" name="route" id="route" class="longinput" value="@Model.Route" /></span>
                </p>
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <h4 class="search-mnc"><input type="submit" value="Cập nhật" class="search-btn" /></h4>
            </div><!--#wiz1step1-->
        </div>
    </div>
}
