
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MNP.cshtml";
}

<div class="contenttitle2">
    <h3>Đổi mật khẩu</h3>
</div><!--contenttitle-->
<p style="color : red;font-size: 16px;font-weight: bold;margin: 0 0 15px 0;">@ViewBag.ErrorMessages</p>
<p style="color : green; font-size: 16px;font-weight: bold;margin: 0 0 15px 0;">@ViewBag.SuccessMessages</p>
<form class="stdform stdform2" method="post" action="/Login/ChangePassword">
    <p>
        <label>Mật khẩu cũ</label>
        <span class="field"><input type="password" name="oldpassword" id="oldpassword" class="longinput" value="" /></span>
    </p>

    <p>
        <label>Mật khẩu mới</label>
        <span class="field"><input type="password" name="newpassword" id="newpassword" class="longinput" /></span>
    </p>

    <p>
        <label>Nhập lại mật khẩu mới</label>
        <span class="field"><input type="password" name="repassword" id="repassword" class="longinput" /></span>
    </p>

    <p class="stdformbutton">
        <button class="submit radius2">Đổi mật khẩu</button>
        <input type="reset" class="reset radius2" value="Reset Button" />
    </p>
</form>

