@{
    ViewBag.Title = "Đăng nhập - MNP";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập - MNP</title>
    <link rel="stylesheet" href="~/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="~/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/js/custom/general.js"></script>
    <script type="text/javascript" src="~/js/custom/index.js"></script>
</head>

<body class="loginpage">

    <div class="loginbox">
        <div class="loginboxinner">

            <div class="logo">
                <h1><span>MNP.</span>06</h1>
                <p>Quản lý thuê bao chuyển mạng giữ số</p>
            </div><!--logo-->
           <br />
            @if (ViewBag.AuthenFailed)
            {
                <div class="nousername">
                    <div class="loginmsg">The password you entered is incorrect.</div>
                </div><!--nousername-->
            }
            @using (Html.BeginForm("SignIn", "Login",new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
            {

                    <div class="username">
                        <div class="usernameinner">
                            <input type="text" name="username" id="username" placeholder="Username" />
                        </div>
                    </div>

                    <div class="password">
                        <div class="passwordinner">
                            <input type="password" name="password" id="password" placeholder="Password" />
                        </div>
                    </div>

                    <button>Đăng nhập</button>
                
                <div class="keeplogging">
                    <input type="checkbox" name="cbKeepLog" id="cbKeepLog" value="true" /> <label for="cbKeepLog">Giữ tôi đăng nhập</label>
                </div>

            }

        </div><!--loginboxinner-->
    </div><!--loginbox-->


</body>

</html>
