<div class="headerwidget">
    <div class="earnings">
        <div class="full">
            <h4>Cập nhật gần nhất</h4>
            <h2>@ViewBag.Date</h2>
        </div><!--one_half-->
    </div><!--earnings-->
</div><!--headerwidget-->
